{% extends 'layouts/main.twig' %}

{% block body %}
    <section>
        <h1>Contenu premium</h1>
        <p>{{ message }}</p>
        <p>
            <a href="/abonnement">Voir les offres d’abonnement</a>
        </p>
    </section>
{% endblock %}